HOSTNAME=YOUR_HOSTNAME
DATABASE_USERNAME=YOUR_USERNAME
DATABASE_PASSWORD=YOUR_PASSWORD
DATABASE_NAME=YOUR_DATABASE_NAME

USERS_TABLE=users
ADMINS_TABLE=admins

bot_token=YOUR_BOT_TOKEN
bot_username=@YOUR_BOT_USERNAME